@charset "utf-8";
@import url("reset.css");
html{
	font-size: 625%;
}
body{
	font-size: 16px;
}
html,body,.container{
	width:100%;
	height: 100%;
	font-family: "微软雅黑";
}
@mixin posr{
	position: relative;
}
@mixin posa{
	position: absolute;
}
.container{
	display:-webkit-flex;
	-webkit-flex-direction:column;
	header{
		width: 100%;
		height: .5rem;
		background-color: blue;
		color:white;
		text-align: center;
		line-height: .5rem;
	}
}
.main{
	width: 100%;
	-webkit-flex:1;
}
.main{
	width: 100%;
	overflow-y:scroll; 
}
.box{
	width: 100%;
	margin-bottom: 20px;
	ol{
		width: 100%;
		height: .48rem;
		display: -webkit-flex;
		background: #666;
		text-align: center;
		line-height: .48rem;
		color:white;
		li{
			-webkit-flex:1;
		}
	}
	h2{
		line-height: .48rem;
		text-align: center;
	}
}
.box{
	table{
		width:100%;
		tr{
			width: 100%;
		}
		td{
			width:14.286%;
			height: .4rem;
			border: 1px solid #ccc;
			@include posr;
			small{
				@include posa;
				left:0;
				top:0;
			}
		}
		.prev{
			color:#ccc;
		}
		.pass{
			background: #666;
			color:white;
		}
		.in{
			background: blue;
			color:white;
		}
		span{
			font-size: .14rem;
			@include posa;
			right:0;
			bottom: 0;
		}
		b{
			font-weight: normal;
			font-size: .14rem;
			@include posa;
			right:0;
			bottom: 0;
		}
	}
}
